.formInputWrapper {
  width: 100%;
}

.formInputInner {
  position: relative;
  width: 100%;
}

.formInput {
  &.withPostInputButton {
    padding-right: 55px;
  }
}

.postInputButtonWrapper {
  position: absolute;
  right: 0;
  top: 0;
  width: 35px;
  height: 100%;
}
