.button {
  display: block;
  width: 100%;
  padding: 14px;
  border-radius: 6px;
  font-size: 15px;
  outline: none;
  border: none;
  color: white;
  background-color: var(--color-brand-800);
  border: 1px solid var(--color-brand-800);
  transition: var(--basic-transition);
  appearance: none;
  cursor: pointer;

  &:hover {
    background-color: var(--color-brand-900);
    border-color: var(--color-brand-900);
  }

  &:active {
    background-color: var(--color-brand-950);
    border-color: var(--color-brand-950);
  }

  &:focus {
    box-shadow: 0 0 0 2px var(--color-brand-600);
  }

  &:disabled {
    background-color: var(--color-neutral);
    border-color: var(--color-neutral);
  }
}
