.wrapper {
    position: relative;

    .visibilitySwitch {
        display: flex;
        align-items: center;
        justify-content: center;
        width: inherit;
        height: inherit;
        cursor: pointer;
    }
}