.wrapper {
  position: relative;
}

.visibilitySwitch {
  display: flex;
  align-items: center;
  justify-content: center;
  width: inherit;
  height: inherit;
  border: none;
  outline: none;
  background-color: var(--color-brand-50);
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  transition: var(--basic-transition);
  appearance: none;
  cursor: pointer;

  &:hover {
    background-color: var(--color-brand-100);
  }

  &:focus {
    box-shadow: 0 0 0 2px var(--color-brand-600);
  }
}
