:root {
  --color-brand-50: #f2f9f9;
  --color-brand-100: #d6ebed;
  --color-brand-200: #b8dce0;
  --color-brand-300: #99cdd2;
  --color-brand-400: #7abfc5;
  --color-brand-500: #5cb0b7;
  --color-brand-600: #3da1aa;
  --color-brand-700: #1f929c;
  --color-brand-800: #00838f;
  --color-brand-900: #005c64;
  --color-brand-950: #004248;

  --color-neutral: #737373;
  --color-danger: #dc2626;
  --color-danger-light: #fde8e8;

  --basic-transition: all 0.2s ease-out;
}
